.cast-card {
    margin: 5px;
    font-size: small;

    border: 1px solid #343434;

    border-radius: 10px;
    background-color: #343434;
    box-shadow: 3px 2px 4px 1px #000000;
}
.cast-card p{
  color: aliceblue;
}
.actorimg{
  width: 100%;
  border-radius: 10px 10px;
}
.actorname{
  font-size: 2em;
}

@media screen and (max-width:450px) {
  .actorname{
    font-size: 70%;
    margin: auto;
    padding: 5px;
  }
  .character{
    font-size: 60%;
    margin: auto;
    padding: 5px;
  }
  .cast-card {
    margin: 5px;
    font-size: small;

    border: 1px solid #343434;
    height: 180px;
    border-radius: 10px;
    background-color: #343434;
    box-shadow: 3px 2px 4px 1px #000000;
}
}