body{
  width: 100%;
  margin: auto;
  background-color: rgb(26, 26, 26);
}

.slider-movies{

  margin-left: 30px;
  margin-right: 30px;
}

@media  screen and (max-width:450px) {
  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}