.tv-shows{
  height: auto;
}
.tvshowname{
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add an ellipsis to indicate hidden text */
  padding: 5px;
}


@media screen and (max-width:450px) {
  .tvshowname{
    font-size: small;
  }
}