@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Mulish', sans-serif;}
h1{
  color: white;
  margin-left: 20px;
}
.app-container h1{
  color: white;
  margin: auto;
 
}

.topPage{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
}



/* svg -- size */
svg {
  width: 45px;
  display: block;
  margin: 5px;
}




.app-container {
  display: flex;

 
}

.sidebar {
  backdrop-filter: blur(30px);
  height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.3s ease;
  width: 250px;
  z-index: 1;
}

.sidebar.open {
  left: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
@media screen  and (max-width: 450px) {
  .topPage{
    
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .topPage h1{
    display: none;
  }
  .app-container{
  
    float: left;
  }


}